{% extends "VLayout.html" %}

{% block content %}
<!--TFIndex.html begin-->
App ver:  {{ Form.Info['Sys_AppVer'] }}<br>
Started:  {{ Form.Info['Sys_TimeStart'] }}<br>
<br>
OS  ver:  {{ Form.Info['Sys_Platform'] }}<br>
OS  Rel:  {{ Form.Info['Sys_Release'] }}<br>
OS  User: {{ Form.Info['Sys_User'] }}<br>
Web User: {{ Form.UserWeb }}<br>

<br>
{% if Form.UserOK %}
    <a href='/conf_list'>conf_list</a><br>
    <a href='/util'>util</a><br>
    <a href='/logout'>logout</a><br>
{% else %}
    <a href='/login'>Login</a><br>
{% endif %}
<!--TFIndex.html end-->
{% endblock %}
